<div>

    <h3>This is Contact Page</h3>

    <div>

        <div class="d-flex justify-content-center mx-auto" style="width: 250px; ">

            <!-- Costs:    <input type="number" (ng-model)="price"> -->
            <!-- Total in dollar: {{ quantity }} -->

            <input type="number" class="form-control form-control-lg" placeholder="quantity" [(ngModel)]="quantity"
                [ngModelOptions]="{standalone: true}"><h4>times</h4>
            <input type="number" class="form-control form-control-lg" placeholder="price" [(ngModel)]="price"
                [ngModelOptions]="{standalone: true}">

                
            </div>
            <p>You typed: {{ quantity*price }}</p>

    </div>
</div>