<div>

    <h3>This is About</h3>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form class="d-flex">
                    <div class="input-group">
                        <input class="form-control form-control-lg" placeholder="inputText" [(ngModel)]="inputText"
                            [ngModelOptions]="{standalone: true}">

                        <p>You typed: {{ inputText }}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="button-wrapper">
        <div class="row justify-content-center ">
            <button class="btn btn-primary px-4" (click)="onClickedd()">Hello</button>
        </div>
    </div>


    <h3>You {{dummyText}}</h3>
</div>